name: Get version

on:
  workflow_call:
    inputs:
      release-branches:
        type: string
        description: The branches on which releases should happen, comma separated name of branches
        required: false
        default: '^(main)$'
      prerelease-branches:
        type: string
        description: The branches on which prereleases should happen, comma separated name of branches
        required: false
        default: '^(rc|beta|alpha)$'
    outputs:
      version:
        description: The version that was released
        value: ${{ jobs.get-version.outputs.version }}
      is-prerelease:
        description: The version that was released
        value: ${{ jobs.get-version.outputs.is-prerelease }}
      changelogs:
        description: The version that was released
        value: ${{ jobs.get-version.outputs.changelogs }}

permissions:
  contents: read

jobs:
  get-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      is-prerelease: ${{ steps.get-version.outputs.is-prerelease }}
      changelogs: ${{ steps.get-version.outputs.changelogs }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - id: get-version
        name: Release
        uses: shiipou/github-actions/jobs/get-version@main
        with:
          release-branches: ${{ inputs.release-branches }}
          prerelease-branches: ${{ inputs.prerelease-branches }}
